{% load cms_tags menu_tags sekizai_tags static%}
<!DOCTYPE html>
<html lang="{{LENGUAGE_CODE}}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% page_attribute 'title' %} -  St.flow </title>
  <meta content="{% page_attribute 'meta_descriptions' %}" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "img/favicon.png" %}" rel="icon">
  <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/animate.css/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168938754-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-168938754-1');
  </script>


{% render_block "css" %}
</head>

<body>
 {% cms_toolbar %}
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="icofont-envelope"></i><a href="mailto:streetflow@recdata.cl">streetflow@recdata.cl</a>
        <!-- <i class="icofont-phone"></i> +1 5589 55488 55 -->
      </div>
      <div class="social-links float-right">
        <a href="https://www.instagram.com/streetflow.cl/" class="instagram"><i class="icofont-instagram"></i></a>
<!--         <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a> -->
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>Streetflow</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          {% show_menu 0 100 0 0  %}
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

{% block content %}{% endblock content %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
   {% static_placeholder "Footer" %}
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "vendor/jquery-sticky/jquery.sticky.js" %}"></script>
  <script src="{% static "vendor/venobox/venobox.min.js" %}"></script>
  <script src="{% static "vendor/waypoints/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "vendor/counterup/counterup.min.js" %}"></script>
  <script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "vendor/aos/aos.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "js/main.js"  %}"></script>
 {% render_block "js" %}
</body>

</html>