{% extends "base.html" %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<!DOCTYPE html>
<html class="no-js consumer" lang="es-CL">
  <head>

    <script >
(function(e, p){
    var m = location.href.match(/platform=(win8|win|mac|linux|cros)/);
    e.id = (m && m[1]) ||
           (p.indexOf('Windows NT 6.2') > -1 ? 'win8' : p.indexOf('Windows') > -1 ? 'win' : p.indexOf('Mac') > -1 ? 'mac' : p.indexOf('CrOS') > -1 ? 'cros' : 'linux');
    e.className = e.className.replace(/\bno-js\b/,'js');
    if (browser.name === 'Chrome' && browser.version > 26) { console.log("cumple")} // Chrome 0.1 - 25.9
    console.log(e.className, e.id)
  })(document.documentElement, window.navigator.userAgent)
    </script>
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <meta content=
    "Google Chrome is a browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier."
    name="description">
    <title>
      Ventana
    </title>

    <style>
    #info {
    font-size: 20px;
    }
    #div_start {
    float: right;
    }
    #headline {
    text-decoration: none
    }
    #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 50px;
    }
    #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
    }
    .interim {
    color: gray;
    }
    .final {
    color: blue;
    padding-right: 3px;
    }
    .button {
    display: none;
    }
    .marquee {
    margin: 20px auto;
    }

    #buttons {
    margin: 10px 0;
    position: relative;
    top: -50px;
    }

    #copy {
    margin-top: 20px;
    }

    #copy > div {
    display: none;
    margin: 0 70px;
    }

    .pids-wrapper{
    width: 50%;
    }

    .pid{
      width: calc(8% - 10px);
      height: 10px;
      display: inline-block;
      margin: 3px;
    }
    </style>
    <style>
    a.c1 {font-weight: normal;}
    </style>
<script src="{% static "js/face-api.min.js" %}"></script>

  </head>

  <body class="" id="grid">


    <h1> Asistente de ventas </h1>
    <h2 id="titulo"> Hola </h2>
    <div class="canvas-placement"><video id="video" width="720" height="560" autoplay muted></video></div>
  <input type="button" name="boton" value="recordar" onclick="{guarda()}">
  <input type="button" name="boton" value="check" onclick="{revisa()}">
    <div class="browser-landing" id="main">
      <div class="compact marquee-stacked" id="marquee">
        <div class="marquee-copy">

        </div>
      </div>
      <div class="compact marquee">
        <div id="info">
          <p id="info_start">
            Haga clic en el icono del micrófono y comience a hablar.
          </p>
          <p id="info_speak_now" style="display:none">
            Hable ahora.
          </p>
          <p id="info_no_speech" style="display:none">
            No se detectó el habla. Es posible que deba ajustar su <a href=
            "//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone
            settings</a>.
          </p>
          <p id="info_no_microphone" style="display:none">
            No se encontró ningún micrófono. Asegúrese de que haya un micrófono instalado y que
            <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
            microphone settings</a> están configurados correctamente.
          </p>
          <p id="info_allow" style="display:none">
            Haga clic en el botón "Permitir" arriba para habilitar su micrófono.
          </p>
          <p id="info_denied" style="display:none">
            Se denegó el permiso para usar el micrófono.
          </p>
          <p id="info_blocked" style="display:none">
            El permiso para usar el micrófono está bloqueado. Para cambiar, ve a
            chrome://settings/contentExceptions#media-stream
          </p>
          <p id="info_upgrade" style="display:none">
            Web Speech API no es compatible con este navegador. Actualizar a <a href=
            "//www.google.com/chrome">Chrome</a> versión 25 or superior.
          </p>
        </div>
        <div id="div_start">
          <button id="start_button" onclick="startButton(event)"><img alt="Start" id="start_img"
          src='{% static "/img/mic.gif" %}'></button>  
        </div>
        <div id="results">
          <span class="final" id="final_span"></span> <span class="interim" id=
          "interim_span"></span>
        </div>

        <div class="pids-wrapper">
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
</div>
      </div>
    </div>  



{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script >
var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
var mic_volume;
var hablando = false;
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  start_button.style.display = 'inline-block';
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = false;
  recognition.interimResults = true;

  recognition.onstart = function() {
    recognizing = true;
    showInfo('info_speak_now');
    start_img.src = '{% static '/img/mic-animate.gif' %}';
  };

  recognition.onerror = function(event) {
    if (event.error == 'no-speech') {
      start_img.src ='{% static '/img/mic.gif' %}';
      showInfo('info_no_speech');
      ignore_onend = true;
    }
    if (event.error == 'audio-capture') {
      start_img.src = '{% static '/img/mic.gif' %}';
      showInfo('info_no_microphone');
      ignore_onend = true;
    }
    if (event.error == 'not-allowed') {
      if (event.timeStamp - start_timestamp < 100) {
        showInfo('info_blocked');
      } else {
        showInfo('info_denied');
      }
      ignore_onend = true;
    }
  };

  recognition.onend = function() {
    recognizing = false;
    if (ignore_onend) {
      return;
    }
    start_img.src = '{% static '/img/mic.gif' %}';
    if (!final_transcript) {
      showInfo('info_start');
      return;
    }
    showInfo('');
    if (window.getSelection) {
      window.getSelection().removeAllRanges();
      var range = document.createRange();
      range.selectNode(document.getElementById('final_span'));
      window.getSelection().addRange(range);
    }

  };

  recognition.onresult = function(event) {
    var interim_transcript = '';
    if (typeof(event.results) == 'undefined') {
      recognition.onend = null;
      recognition.stop();
      upgrade();
      return;
    }
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
        console.log("se calló?");
        recognition.stop();
        //readOutLoud(final_transcript)
        // envia mensaje al servidor
        chat_bot(final_transcript);

      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    final_transcript = capitalize(final_transcript);
    final_span.innerHTML = linebreak(final_transcript);
    interim_span.innerHTML = linebreak(interim_transcript);
    if (final_transcript || interim_transcript) {
      showButtons('inline-block');

    }
  };
}

function upgrade() {
  start_button.style.visibility = 'hidden';
  showInfo('info_upgrade');
}

var two_line = /\n\n/g;
var one_line = /\n/g;
function linebreak(s) {
  return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
}

var first_char = /\S/;
function capitalize(s) {
  return s.replace(first_char, function(m) { return m.toUpperCase(); });
}

function startButton(event) {
  if (recognizing) {
    recognition.stop();
    return;
  }
  final_transcript = '';
  recognition.lang = "es-CL";
  recognition.start();
  ignore_onend = false;
  final_span.innerHTML = '';
  interim_span.innerHTML = '';
  start_img.src = '{% static '/img/mic-slash.gif' %}';
  showInfo('info_allow');
  showButtons('none');
  start_timestamp = event.timeStamp;
}

function showInfo(s) {
  if (s) {
    for (var child = info.firstChild; child; child = child.nextSibling) {
      if (child.style) {
        child.style.display = child.id == s ? 'inline' : 'none';
      }
    }
    info.style.visibility = 'visible';
  } else {
    info.style.visibility = 'hidden';
  }
}

var current_style;
function showButtons(style) {
  if (style == current_style) {
    return;
  }
  current_style = style;
}

var speech = new SpeechSynthesisUtterance();
function readOutLoud(message) {
  

  // Set the text and voice attributes.
  speech.text = message;
  speech.volume = 1;
  speech.rate = 1;
  speech.pitch = 1;
  speech.lang = "es-CL";
  hablando = true
  window.speechSynthesis.speak(speech);
  speech.onend = function() {
    hablando = false
  console.log('speech.onend');
  //setTimeout(function(){ startButton(speech); }, 600);
  
  
  }
}


/////////////////////////////////////////////////////////////////////////////

///// AJAX  - INICIO ////////////////////
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
    $('.loader').show();
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
      complete: function(){
     $('.loader').hide();
  },
  success: function() {
  //$('#loader').hide();
}
});


var rec = 0
var name = "nadie"
var desc = ""
var sexo = ""
var anos = ""
var recon = 0
var same = 0
var anterior = ""


function guarda(){
  rec = 1
  readOutLoud("¿Me puedes decir tu nombre por favor?")
  envia_desc(name, desc, rec, sexo, anos)
  console.log('Recorad@:', name)
  }

const video = document.getElementById('video')
const isScreenSmall = window.matchMedia("(max-width: 700px)");
let predictedAges = [];
console.log("cargando los modelos")
Promise.all([
  faceapi.nets.tinyFaceDetector.loadFromUri('{% static '/models' %}'),
  faceapi.nets.faceLandmark68Net.loadFromUri('{% static '/models' %}'),
  faceapi.nets.faceRecognitionNet.loadFromUri('{% static '/models' %}'),
  faceapi.nets.faceExpressionNet.loadFromUri('{% static '/models' %}'),
  faceapi.nets.ageGenderNet.loadFromUri('{% static '/models' %}'),
  //faceapi.nets.ssdMobilenetv1.loadFromUri('{% static '/models' %}')
]).then(startVideo)
//console.log(faceapi.nets)
function startVideo() {
  navigator.getUserMedia(
    { video: {} },
    stream => video.srcObject = stream,
    err => console.error(err)
  )
}
function screenResize(isScreenSmall) {
  if (isScreenSmall.matches) {
    // If media query matches
    video.style.width = "320px";
  } else {
    video.style.width = "500px";
  }
}

video.addEventListener('play', () => {
  const canvas = faceapi.createCanvasFromMedia(video)
  //document.body.append(canvas)
  canvas.style.position = "absolute";
  canvas.style.left = "5px";
  //canvas.style.top = "0px";
  canvas.style.zIndex = "100";
  $('.canvas-placement').append(canvas);

  const displaySize = { width: video.width, height: video.height }
  faceapi.matchDimensions(canvas, displaySize)
  // Loop sobre el video cada 100 milisegundos
  setInterval(async () => {
    const detections = await faceapi.detectAllFaces(video, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceExpressions().withAgeAndGender().withFaceDescriptors()
    const resizedDetections = faceapi.resizeResults(detections, displaySize)
    
    if (resizedDetections.length != 0){
      const faceMatcher = new faceapi.FaceMatcher(resizedDetections)

      resizedDetections.forEach(fd => {
          const bestMatch = faceMatcher.findBestMatch(fd.descriptor)
          //downloadObject(fd.descriptor, 'descriptor.txt')
          name = bestMatch.toString()
          desc = fd.descriptor
          sexo = fd.gender
          anos = fd.age
          //console.log(name, bestMatch)
        })

      if (recon==0){
        revisa()
        recon = 1
      }

      var genero = resizedDetections[0].gender;
      if(genero=="male"){ var genero = "Hombre"} else { var genero = "Mujer"}
      const edad = parseInt(resizedDetections[0].age)
      const etiqueta = "Detección básica. "+ genero+", edad: "+edad+", nombre: "+ anterior; 
      
      // var dataURL = canvas.toDataURL('image/png');
      // var image = new Image();
      // image.src = dataURL;
      
      canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height)
      faceapi.draw.drawDetections(canvas, resizedDetections)
      faceapi.draw.drawFaceLandmarks(canvas, resizedDetections)
      faceapi.draw.drawFaceExpressions(canvas, resizedDetections)

      const box = { x: (video.width*.35), y: 50, width: 10, height: 0   }
      const drawOptions = {
        label: etiqueta,
        lineWidth: 2
      }
      const drawBox = new faceapi.draw.DrawBox(box, drawOptions)
      drawBox.draw(canvas)

      const brand = { x: 10, y: 32, width: 10, height: 0   }
      const brandOptions = {
        label: "Brand",
        lineWidth: 2
      }
      const brandBox = new faceapi.draw.DrawBox(brand, brandOptions)
      brandBox.draw(canvas)

    } else {
      if (recon==1){
        recognition.stop();
      }
      recon = 0

    }

  }, 1000) 
})

function envia_desc(name, desc, rec, sexo, anos){
  //console.log("desde func", name, desc)
  var claves = {
              'nombre': name,
              'descriptores' : desc.toString(),
              'record': rec,
              'sexo': sexo,
              'anos': anos,
              };
  $.ajax({
        method: "POST",
        //'async': false,
        url: '/ajax/descriptores/',
        data: claves ,
        success: function (data){
        console.log(data);
        }});
}

function revisa(){
  //recognition.stop();
  var claves = {
              'descriptores' : desc.toString(),
              'sexo': sexo,
              'anos': anos,
              };
    $.ajax({
        method: "GET",
        //'async': false,
        url: '/ajax/descriptores/',
        data: claves ,
        success: function (data){
        //console.log(data);
        $('#titulo').html('Hola '+data.nombre)
        //console.log("compara",data.nombre, anterior)
        if (data.nombre != anterior){
         message = 'Hola '+data.nombre
        readOutLoud(message)
        }
        
        anterior = data.nombre
        }});
}

function chat_bot(mensaje){
  console.log("YO",mensaje)
  var chat = {
        "mensaje":mensaje,
      };
      $.ajax({
        method: "GET",
        //'async': false,
        url: '/ajax/chat/',
        data: chat ,
        success: function (data){
        console.log(data);
        readOutLoud(data.respuesta)

        }});
}

///////////////// microfono /////////////////////////////////////////

// recognition.onstart = function() {
//   escuchando = true
//   console.log('escuchando true');
// }

// recognition.onend = function() {
//   escuchando = false
//   console.log('escuchando false');
// }

navigator.mediaDevices.getUserMedia({ audio: true, video: true })
.then(function(stream) {
  audioContext = new AudioContext();
  analyser = audioContext.createAnalyser();
  microphone = audioContext.createMediaStreamSource(stream);
  javascriptNode = audioContext.createScriptProcessor(2048, 1, 1);

  analyser.smoothingTimeConstant = 0.8;
  analyser.fftSize = 1024;

  microphone.connect(analyser);
  analyser.connect(javascriptNode);
  javascriptNode.connect(audioContext.destination);
  javascriptNode.onaudioprocess = function() {
      var array = new Uint8Array(analyser.frequencyBinCount);
      analyser.getByteFrequencyData(array);
      var values = 0;

      var length = array.length;
      for (var i = 0; i < length; i++) {
        values += (array[i]);
      }

      var average = values / length;

    //console.log(Math.round(average));
     mic_volume = Math.round(average)
     colorPids(average);
     if ( recognizing==false && hablando == false &&  mic_volume > 10){
     startButton(mic_volume)
     console.log('recognizing', recognizing, 'hablando',hablando);
      }
  }
  })
  .catch(function(err) {
    /* handle the error */
});


function colorPids(vol) {
  let all_pids = $('.pid');
  let amout_of_pids = Math.round(vol/10);
  let elem_range = all_pids.slice(0, amout_of_pids)
  for (var i = 0; i < all_pids.length; i++) {
    all_pids[i].style.backgroundColor="#e6e7e8";
  }
  for (var i = 0; i < elem_range.length; i++) {

    // console.log(elem_range[i]);
    elem_range[i].style.backgroundColor="#69ce2b";
  }
}



// [
//  'onaudiostart',
//  'onaudioend',
//  'onend',
//  'onerror',
//  'onnomatch',
//  'onresult',
//  'onsoundstart',
//  'onsoundend',
//  'onspeechend',
//  'onstart'
// ].forEach(function(eventName) {
//     recognition[eventName] = function(e) {
//         //console.log(eventName, e);
//     };
// });

    </script>
  </body>
  {% endblock content %}
</html>