
{% extends "meds/base.html" %}
{% block content %}

<div class="container">

<h1>Formulario Ficha Paciente</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
  <label>Nombre:</label>
    {{ form.nombre }}
    <br />
    <label>Apellido:</label>
    {{ form.apellido }}
    <br />
    <label>Rut:</label>
    {{ form.rut }}
    <br />
    <label>Edad:</label>
    {{ form.edad }}
    <br />
    <label>Sexo:</label>
    {{ form.sexo }}
    <br />
    <label>Sangre:</label>
    {{ form.sange }}
    <br />
    <P>Dirección:</P>
    <label>País:</label>
    {{ form.pais }}
    <br />
    <label>Región:</label>
    {{ form.region }}
    <br />
            <label>Provincia:</label>
            <select id="model" name="model" class="form-control">
                <option value="000">---------</option>
            </select>
    <br />
    <label>Comuna:</label>
    {{ form.comuna }}
    <br />
        <label>Calle:</label>
    {{ form.calle }}
    <br />
    <label>Fono:</label>
    {{ form.fono }}
    <br />

    <input type="submit" value="Guardar" class="btn btn-primary">
  </div>
</form>
</div>

<script type="text/javascript">
var myJson = {{ paises|safe }}
console.log(myJson)

$.each(myJson.country, function (index, value) {
$("#country").append('<option value="'+value.id+'">'+value.name+'</option>');
});

$('#id_pais').on('change', function(){
console.log($(this).val(),"pais", myJson.country.length);
for(var i = 0; i < myJson.country.length; i++)
{
  if(myJson.country[i].id == $(this).val())
  {
     $('#id_region').html('<option value="000">-Seleccione región-</option>');
     $.each(myJson.country[i].states, function (index, value) {
        $("#id_region").append('<option value="'+value.id+'">'+value.name+'</option>');
    });
  }
}
});

$('#id_region').on('change', function(){
      console.log($(this).val());
      for(var i = 0; i < myJson.country.length; i++)
        {
            for(var j = 0; j < myJson.country[i].states.length; j++) {
                if(myJson.country[i].states[j].id == $(this).val())
                {
                   $('#model').html('<option value="000">-Seleccione provincia</option>');
                   $.each(myJson.country[i].states[j].cities, function (index, value) {
                      $("#model").append('<option value="'+value.id+'">'+value.name+'</option>');
                    });
                }
            }
        }
     });

$('#model').on('change', function(){
  console.log($(this).val());
        for(var i = 0; i < myJson.country.length; i++)
        {
            for(var j = 0; j < myJson.country[i].states.length; j++) {
              for(var f = 0; f < myJson.country[i].states[j].cities.length; f++) {
                if(myJson.country[i].states[j].cities[f].id == $(this).val())
                {
                   $('#id_comuna').html('<option value="000">-Seleccione comuna</option>');
                   $.each(myJson.country[i].states[j].cities[f].comunas, function (index, value) {
                      $("#id_comuna").append('<option value="'+value.id+'">'+value.name+'</option>');
                    });
                }
              }
            }
        }
});
</script>

{% endblock content %}